{%extends 'base.html'%}
{%import 'partials/img.html' as img%}


{%block custom_meta%}
<meta content="{{keywords|join(',')}}" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta content="{{shareText}}" name="description" />
<title>{{pageTitle}}</title>
<meta property="og:url" content="{{url}}" />
<meta property="og:title" content="{{shareTitle}}"/>
<meta property="og:description" content="{{shareText}}" name="description"/>
<meta property="og:image" content="{{imgURL}}"/>
<meta property="og:image:height" content="{{imgHeight}}"/>
<meta property="og:image:width" content="{{imgWidth}}"/>
<meta property="og:type" content="article" />
<meta property="article:author" content="{{authorFBProfile}}" />
<meta property="article:publisher" content="https://www.facebook.com/dallasmorningnews/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{sectionTwitter}}" />
<meta name="twitter:creator" content="@{{authorTwitter}}" />

<meta name="liveFyreID" content="{{id}}" />

<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{shareTitle}}",
        "url": "{{url}}",
        "thumbnailUrl": "{{imgURL}}",
        "dateCreated": "{{publishDate}}",
        "articleSection": "{{section}}",
        "creator": ["{{authors|join('","')|safe}}"],
        "keywords": ["{{keywords|join('","')|safe}}"]
      }
</script>

<meta property="og:keywords" content="{{keywords|join(',')}}"/>

<meta name="news_keywords" content="{{keywords|join(',')}}"/>
{%endblock%}


{%block custom_head%}
  <script src="https://d3js.org/d3.v5.min.js"></script>

  {% raw %}

  <script id="player-mod" type="text/x-handlebars-template">
    <div class="player" data-playername="{{player}}">
      <img src="images/_{{imageName player}}.jpg" alt="{{player}}" />
      <h5>{{breakName player}}</h5>
      <p>{{team}}</p>
      <p class="advanced"><span class="score-label">Advanced z-score: </span>{{roundScore total_adv_zscore}}</p>
      <p class="traditional"><span class="score-label">Traditional z-score: </span>{{roundScore total_stand_zscore}}</p>
      <div class="z-scores">
        <div class="z-score z-score__trad traditional z-score-ppg"></div>
        <div class="z-score z-score__trad traditional z-score-rpg"></div>
        <div class="z-score z-score__trad traditional z-score-apg"></div>
        <div class="z-score z-score__trad traditional z-score-spg"></div>
        <div class="z-score z-score__trad traditional z-score-bpg"></div>
        <div class="z-score z-score__adv advanced z-score-mpg"></div>
        <div class="z-score z-score__adv advanced z-score-winshare"></div>
        <div class="z-score z-score__adv advanced z-score-bpm"></div>
        <div class="z-score z-score__adv advanced z-score-usg"></div>
        <div class="z-score z-score__adv advanced z-score-per"></div>
      </div>
    </div>
  </script>

  {% endraw %}
{%endblock%}


{%block ad%}
<script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>
<script type="text/javascript">
DFP_networkId = "11222444";
var DFPSlotSizes = window.isMobile ? [[320,50]] : [[728,90],[970,30]];
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
var pbjs = pbjs || {};
pbjs.que = pbjs.que || [];
pbjs.que.push(function() {
  var pageAds = { //   adUnitID: "position"
              dfpAdPositionTop: "Top",
              dfpAdPositionMiddle: "Top2",
              dfpAdPositionBottom: "Top2"
  };

  for(i in pageAds){
      var bidSlot = new Object();
      bidSlot.code = i;
      bidSlot.sizes = DFPSlotSizes;
      bidSlot.bids = window.isMobile ? window.mobileBids[pageAds[i]] : window.desktopBids[pageAds[i]];
      if(typeof bidSlot.bids != "undefined"){
          if(typeof pbjs.addAdUnits != "undefined"){
              pbjs.addAdUnits(bidSlot);
          }
          window.bidSlots[i] = bidSlot;
      }
  }
});
googletag.cmd.push(function () {
  var DFP_sitepage = "DMN/interactives";
  var dfpSizeMapping = googletag.sizeMapping().
          addSize([992, 480], [[728,90],[970,30]]).
          addSize([0, 0], [[320,50]]).
          build();


  // var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop")
  //                 .defineSizeMapping(dfpSizeMapping)
  //                 .setTargeting("position", "Top")
  //                 .addService(googletag.pubads());

  /*
  var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());
  */

  /*
  var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());
  */

  googletag.pubads().enableAsyncRendering();
  googletag.pubads().enableSingleRequest();
  googletag.enableServices();

});
</script>
{%endblock%}


{%block content%}
<section id="content-header">
  <img src="images/_luka-hero-new2.jpg" alt="Luka Doncic" />
</section>
<!-- end contentHeader -->

<section class="content-well clearfix">

	<header id="story-head">
    <h2>Will Luka Doncic win NBA Rookie of the Year?</h2>
    <h1 id="luka-answer"></h1>
	</header>
		<!-- end storyHead -->

    <div class="byline-block">
        <p>By <a target="_blank" href="mailto:emailaddresshere">John Hancock</a> | Editor, Data and Interactives</p>
        <p>Published Month Date, Year</p>
        <!-- <p>Updated Month, Date, Year</p> -->
    </div>
    <!-- end bylineBlock -->

	<div class="shareComments shareCommentsTop">
		<ul id="share-bar1"></ul>
	</div>
	<!-- end shareComments -->

    <p>When it comes to Luka Doncic, there was never a doubt for the Dallas Mavericks.</p>
    <p>The team’s front office did years of research and scouting on the Slovenian teenager before shipping Trae Young and a protected first round pick in next year’s draft to Atlanta for Doncic in a <a href="https://sportsday.dallasnews.com/dallas-mavericks/mavericks/2018/06/29/mavericks-hawks-agree-deal-send-luka-doncic-dallas">draft-night trade</a>. Team owner Cuban said getting Doncic in the draft was a <a href="https://sportsday.dallasnews.com/dallas-mavericks/mavericks/2018/12/15/no-brainer-luka-doncic-won-entire-mavericks-organization-long-before-drafted">"no-brainer,"</a> and ESPN analyst Mike Schmidt said Doncic was <a href="https://sportsday.dallasnews.com/dallas-mavericks/mavericks/2018/07/27/espn-analyst-mike-schmitz-says-mavs-got-nba-drafts-best-basketball-player-luka-doncic">"the best basketball player in the draft."</a></p>
    <p>Doncic has backed up the hype on the court. The 19-year-old phenom has planted his flag as the Mavericks go-to option on the court, leading the team in scoring and usage percentage.</p>
    <p>But is Doncic the NBA Rookie of the Year? A <em>Dallas Morning News</em> analysis rated this season's rookie class in a variety of metrics — traditional and advanced — to determine how each player compares to the rest of the class. <a href="#methodology">Read more</a> about how those scores are determined below. </p>
    <p>The result is clear. Doncic is the favorite, followed closely by Phoenix Suns big man Deandre Ayton, the first pick in last June’s draft. See how Doncic gains an edge over Ayton and how he stacks up against the rest of the class below.</p>


      <p class="subhead">Putting up the numbers</p>
      <p>Doncic has no trouble filling up a box score. He leads this rookie class in scoring at <span class="smart-text__ppg" data-player="Luka Doncic"></span> points per game and ranks in the top three in per-game averages for rebounds (<span class="smart-text__rbg" data-player="Luka Doncic"></span>), assists (<span class="smart-text__apg" data-player="Luka Doncic"></span>) and steals (<span class="smart-text__spg" data-player="Luka Doncic"></span>)</p>.
      <p>Those numbers are impressive when compared to his fellow rookies, but historically, they are off the charts. In the history of the NBA, only four other rookies have averaged 20 points, five rebounds and five assists per game: Michael Jordan, Oscar Robertson, LeBron James and Tyreke Evans. That’s rarified company to be in.</p>
      <p>Beyond the traditional stats, Doncic’s performance across a range of advanced NBA metrics puts him at the front of this year’s class as well, just ahead of Ayton. But while Doncic and Ayton both rank in the top three in winshares, box score plus/minus and player efficiency, Doncic holds a significant edge in one other key metric: usage percentage.</p>
      <p>Doncic leads the class in usage percentage at <span class="smart-text__usg" data-player="Luka Doncic"></span>%, and is one of only three rookies to have a usage percentage above 25%. Ayton, by comparison, ranks eighth in the class at <span class="smart-text__usg" data-player="Deandre Ayton"></span>%.</p>
      <p>While Doncic and Ayton are near equals in how often they are on the court for their respective teams, the Mavericks are relying on Doncic to do more in the offense, and Doncic’s efficiency hasn’t suffer from the additional workload. </p>

      <div id="player__ranks" class="chart">
        <div class="chatter">
          <h5>Top of his class</h5>
          <p>The breakdown of the 2018-19 rookie class by our <span class="traditional">traditional</span> <span class="advanced">advanced</span> metric score, from worst to best (left to right). <span class="key-label">Luka Doncic’s</span> <span class="traditional">traditional </span> <span class="advanced">advanced</span> metric score of <span id="rank__total-score"></span> ranks <span id="rank__rank"></span> among all rookies. Touch the circles below to get more details on each player.</p>
          <div class="metric__flipper clearfix">
            <span>Traditional</span>
            <div class="flipper__slider">
              <button class="flipper__traditional"></button>
            </div>
            <span>Advanced</span>
            <!-- <button class="int-btn active-button">Traditional</button>
            <button class="int-btn">Advanced</button> -->
          </div>
        </div>
        <div class="chart__container"></div>
      </div>

      <div class="chart">
        <div class="chatter">
          <p><strong>Totaling up the points: </strong>Breaking down the top five rookies in our <span class="traditional">traditional</span><span class="advanced">advanced</span> metric scores by each statistic (<span class="traditional">points, rebounds, assists, steals and blocks per game</span><span class="advanced">minutes per game, winshares, boxscore +/-, usage percentage and player efficiency rating</span>):</p>
        </div>
        <div id="player__mods"></div>
        <p class="source"><strong>Source:</strong> <a href="https://www.basketball-reference.com/" target="_blank">Basketball Reference</a>. <strong>Note:</strong> Only rookies who qualify for the NBA’s points per game leaderboard shown.</p>
      </div>

    {%include "adblock1.html" %}

    <!--
      use the above include with adblock2.html and adblock3.html to place adblocks 2 and 3, then delete this comment.
      it won't self-destruct, but it is cleaner
    -->
    <p class="subhead">Recent history is on his side</p>
    <p>If Doncic finishes the season where he is now, leading all rookies in our traditional and advanced metric scores, he’ll be the seventh rookie since 2008-09 to do so. The other six all won NBA Rookie of the Year. Three of the remaining four finished first in at least one metric.</p>
    <p>Currently, Doncic leads Ayton by <span class="difference-text__total_stand_zscore" data-player1="Luka Doncic" data-player2="Deandre Ayton"></span> in our traditional metrics score and <span class="difference-text__total_adv_zscore" data-player1="Luka Doncic" data-player2="Deandre Ayton"></span> in our advanced metrics score. </p>
    <p>In the past 10 years, only Andrew Wiggins took home the best rookie award while not finishing first in either metric. The Timberwolves forward set himself apart in points per game, though. Wiggins averaged five points more than the Los Angeles Lakers’ Jordan Clarkson and 6.7 more than rookie of the year runner-up Nikola Mirotic.</p>
    <p>Doncic, who leads the rookie class in scoring, is averaging <span class="difference-text__ppg" data-player1="Luka Doncic" data-player2="Deandre Ayton"></span> more points per game than Ayton, the next highest scoring rookie.</p>

    <div id="past-roty" class="chart">
      <div class="chatter">
        <h5>History of top performers</h5>
        <p>Where each rookie of the year winner over the last 10 years finished in our traditional and advanced metric scoring system relative to their class, including how many points above the next rookie or below the top rookie in each score.</p>
      </div>
      <div id="past-roty__chart">
        <div class="past-player">
          <p class="label">2008-09</p>
          <h6>Derrick Rose</h6>
          <table>
            <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
            <tr><td>Trad.</td><td>3rd</td><td>-0.77</td></tr>
            <tr><td>Adv.</td><td class="rank_one">1st</td><td>0.02</td></tr>
          </table>
        </div>
        <div class="past-player">
          <p class="label">2009-10</p>
          <h6>Tyreke Evans</h6>
          <table>
            <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
            <tr><td>Trad.</td><td class="rank_one">1st</td><td>0.62</td></tr>
            <tr><td>Adv.</td><td class="rank_one">1st</td><td>2.85</td></tr>
          </table>
        </div>
        <div class="past-player">
          <p class="label">2010-11</p>
          <h6>Blake Griffin</h6>
          <table>
            <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
            <tr><td>Trad.</td><td class="rank_one">1st</td><td>4.67</td></tr>
            <tr><td>Adv.</td><td class="rank_one">1st</td><td>6.32</td></tr>
          </table>
        </div>
        <div class="past-player">
          <p class="label">2011-12</p>
          <h6>Kyrie Irving</h6>
          <table>
            <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
            <tr><td>Trad.</td><td class="rank_one">1st</td><td>3.39</td></tr>
            <tr><td>Adv.</td><td class="rank_one">1st</td><td>4.63</td></tr>
          </table>
        </div>
        <div class="past-player">
          <p class="label">2012-13</p>
          <h6>Damian Lillard</h6>
          <table>
            <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
            <tr><td>Trad.</td><td class="rank_one">1st</td><td>2.37</td></tr>
            <tr><td>Adv.</td><td class="rank_one">1st</td><td>8.76</td></tr>
          </table>
        </div>
        <div class="past-player">
          <p class="label">2013-14</p>
          <h6>Michael Carter-Williams</h6>
          <table>
            <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
            <tr><td>Trad.</td><td class="rank_one">1st</td><td>4.67</td></tr>
            <tr><td>Adv.</td><td>2nd</td><td>-1.46</td></tr>
          </table>
        </div>
        <div class="past-player">
          <p class="label">2014-15</p>
          <h6>Andrew Wiggins</h6>
          <table>
            <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
            <tr><td>Trad.</td><td>3rd</td><td>-3.78</td></tr>
            <tr><td>Adv.</td><td>4th</td><td>-2.75</td></tr>
          </table>
        </div>
        <div class="past-player">
          <p class="label">2015-16</p>
          <h6>Karl-Anthony Towns</h6>
          <table>
            <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
            <tr><td>Trad.</td><td class="rank_one">1st</td><td>2.60</td></tr>
            <tr><td>Adv.</td><td class="rank_one">1st</td><td>3.13</td></tr>
          </table>
        </div>
        <div class="past-player">
          <p class="label">2016-17</p>
          <h6>Malcolm Brogdon</h6>
          <table>
            <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
            <tr><td>Trad.</td><td>2nd</td><td>-0.34</td></tr>
            <tr><td>Adv.</td><td class="rank_one">1st</td><td>0.29</td></tr>
          </table>
        </div>
        <div class="past-player">
          <p class="label">2017-18</p>
          <h6>Ben Simmons</h6>
          <table>
            <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
            <tr><td>Trad.</td><td class="rank_one">1st</td><td>6.46</td></tr>
            <tr><td>Adv.</td><td class="rank_one">1st</td><td>2.81</td></tr>
          </table>
        </div>
      </div>
      <p class="source"><strong>Source:</strong> <a href="https://www.basketball-reference.com/" target="_blank">Basketball Reference</a>.</p>


    </div>

    <p class="subhead">Best in a decade?</p>
    <p>As stated above, Doncic is having a statistical rookie campaign for the ages, placing him in some elite company when it comes to points, rebounds and assists.</p>
    <p>Given that, it’s no surprise that when Doncic is compared to the other <span class="rookie_count"></span> rookies in the last 10 years, he’s setting himself apart by having a season similar to the rookie campaigns of Damian Lillard, Tyreke Evans and Kyrie Irving.</p>
    <p>And it’s not out of the realm of possibility that Doncic matches rookie seasons by Blake Griffin, Karl-Anthony Towns and Ben Simmons by the end of the year. Since Doncic doesn’t have a full season’s worth of games yet, the potential number of winshares available to him is deflated. Given the Mavericks current pace and Doncic’s level of play thus far, it’s not inconceivable that his final total in winshares gives him a boost, placing him among that upper echelon. </p>
    <p>As it is, Doncic ranks sixth out of the <span class="rookie_count"></span> rookies since 2008-09 in our analysis’ advanced metrics score and eighth in our traditional metrics score. When it comes to points per game alone, Doncic’s <span class="smart-text__ppg" data-player="Luka Doncic"></span> is third behind Blake Griffin and Donovan Mitchell. </p>

    <div id="all-roty" class="chart">
      <div class="chatter">
        <h5>Doncic's place in the last 10 years</h5>
        <p>Comparing Luka Doncic to every rookie in the last 10 years, not just his class, in our two metric scores gives a better understanding of the historical significance of his first season. Note: Doncic's scores here will differ from those above, where he was rated against only his rookie class, not the <span class="rookie_count"></span> rookies since the 2008 draft.</p>
        <ul class="key">
          <li class="key--luka">Luka Doncic</li>
          <li class="key--2018">2018-19 rookie</li>
          <li class="key--roty">Rookie of the Year winner</li>
        </ul>
      </div>
      <div id="all-roty__graphic" class="inline-block"></div>
      <p class="source"><strong>Source:</strong> <a href="https://www.basketball-reference.com/" target="_blank">Basketball Reference</a>. <strong>Note:</strong> Excluding Kyrie Irving, Only rookies who qualify for the NBA’s points per game leaderboard shown. Irving won rookie of the year in 2012 despite only playing 51 games.</p>
    </div>

    <p class="subhead">What about Ayton?</p>
    <p>Doncic’s successes on the court and the hype surrounding his rookie campaign may lead to him running away with the rookie of the year voting. But by a pure numbers standpoint, the Suns’ Ayton is a legitimate threat.</p>
    <p>Ayton’s dominance on the glass (<span class="smart-text__rbg" data-player="Deandre Ayton"></span> rebounds per game) and scoring output (<span class="smart-text__ppg" data-player="Deandre Ayton"></span> points per game, second only to Doncic), make him a contender for the award. And his advanced metrics, outside of usage percentage are all comparable to Doncic.</p>
    <p>But what Doncic has going for him that Ayton doesn’t is screen time. Doncic is the Mavericks’ first option on offense. In Phoenix, Devin Booker is the Suns best player, and Ayton even falls behind T.J. Warren in scoring among his team.</p>
    <p>And then there’s the hype and clutch play. The 19-year-old Mavericks rookie has made plenty of highlight reels, including his <a href="https://sportsday.dallasnews.com/dallas-mavericks/mavericks/2018/12/09/nba-king-texas-moment-mavericks" target="_blank">11-0 scoring run</a> over the final 2 minutes of play to lift Dallas to a victory over in-state rival Houston in December. That’s just one instance of the 10 times Doncic has hit a field goal to tie or take the lead in a game in the last two minutes of the fourth quarter or overtime, the most in the NBA.</p>
    <p>So, while the rookie seasons of Doncic and Ayton are comparable within our metrics, Doncic still holds the edge in the numbers and passes the eyeball test, almost surely guaranteeing that he takes home the rookie of the year hardware.</p>


    <p class="subhead" id="methodology">How we scored the rookies</p>
    <div class="meth__block">
      <p>Each player in this season’s rookie class was rated against one another in ten statistical categories. Our traditional score uses per game numbers for points, rebounds, assists, steals and blocks. The advanced score is comprised of minutes per game, winshares, box score plus/minus, player efficiency rating and usage percentage.</p>
      <p>To generate a players total score in each of these categories, players were assigned a z-score for each stat. The z-score measures not just where a player ranks among a group, but how much better — or worse — that player is versus the group’s average in that statistic. Those scores were then added together to calculate our total metric scores. In short, the better each player is than the average player in a statistic, the higher their total score would be.</p>
      <p>For example: Luka Doncic’s total traditional score ((use luka's hard numbers here to show calculation))</p>
    </div>


    <p class="twitter-tag">Follow John Hancock on Twitter at <a href="urlhere">@Hancock_JohnD.</a></p>


    <section class="credits clearfix">
        <p>Author: <a href="mailto:emailaddress">Name</a></p>
        <p>Editor: <a href="mailto:emailaddress">Name</a></p>
        <p>Copy Editor: <a href="mailto:emailaddress">Name</a></p>
        <p>Photos: <a href="mailto:emailaddress">Name</a></p>
        <p>Graphics: <a href="mailto:emailaddress">Name</a></p>
        <p>Designer: <a href="mailto:emailaddress">Name</a></p>
    </section>
	<!-- end credits -->

	<section class="more clearfix">
		<h5>Read more from The Dallas Morning News</h5>
		<a class="clearfix" href="#">
			<img src="images/_defaultImage.jpg" alt="#" />
			<h6>Story title goes here</h6>
			<p>Description of the story goes in this spot here</p>
		</a>
		<a class="clearfix" href="#">
			<img src="images/_defaultImage.jpg" alt="#" />
			<h6>Story title goes here</h6>
			<p>Description of the story goes in this spot here</p>
		</a>
		<a class="clearfix" href="#">
			<img src="images/_defaultImage.jpg" alt="#" />
			<h6>Story title goes here</h6>
			<p>Description of the story goes in this spot here</p>
		</a>
	</section>
	<!-- end more -->


    <div class="shareComments">
        <div id="comments"></div>
	</div>
	<!-- end shareComments -->


</section>
<!-- end contentWell -->
{%endblock%}




{%block custom_foot%}
	<script type="text/javascript"></script>
{%endblock%}





{%block custom_social_meta%}
<script type="text/javascript">
  var storyTitle = "{{tweetText}}", // headline in tweet card
	storyURL = "{{url}}",
	leadText = "{{shareText}}", //description in tweet card
	storyIMG = "{{imgURL}}",
	storyAuthor = "{% for author in authors %}{{author}}{{', ' if not loop.last}}{% endfor %}",
	twitterTag = "{{sectionTwitter}}",
	comments = true,
	share = true;
	OAS_sitepage = 'www.dallasnews.com/{{desk}}/{{section}}/';
</script>
{%endblock%}
