{%extends 'base.html'%}
{%import 'partials/img.html' as img%}


{%block custom_meta%}
<meta content="{{keywords|join(',')}}" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta content="{{shareText}}" name="description" />
<title>{{pageTitle}}</title>
<meta property="og:url" content="{{url}}" />
<meta property="og:title" content="{{shareTitle}}"/>
<meta property="og:description" content="{{shareText}}" name="description"/>
<meta property="og:image" content="{{imgURL}}"/>
<meta property="og:image:height" content="{{imgHeight}}"/>
<meta property="og:image:width" content="{{imgWidth}}"/>
<meta property="og:type" content="article" />
<meta property="article:author" content="{{authorFBProfile}}" />
<meta property="article:publisher" content="https://www.facebook.com/dallasmorningnews/" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{sectionTwitter}}" />
<meta name="twitter:creator" content="@{{authorTwitter}}" />

<meta name="liveFyreID" content="{{id}}" />

<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{shareTitle}}",
        "url": "{{url}}",
        "thumbnailUrl": "{{imgURL}}",
        "dateCreated": "{{publishDate}}",
        "articleSection": "{{section}}",
        "creator": ["{{authors|join('","')|safe}}"],
        "keywords": ["{{keywords|join('","')|safe}}"]
      }
</script>

<meta property="og:keywords" content="{{keywords|join(',')}}"/>

<meta name="news_keywords" content="{{keywords|join(',')}}"/>
{%endblock%}


{%block custom_head%}
  <script src="https://d3js.org/d3.v5.min.js"></script>

  {% raw %}

  <script id="player-mod" type="text/x-handlebars-template">
    <div class="player" data-playername="{{player}}">
      <img src="images/_{{imageName player}}.jpg" alt="{{player}}" />
      <h5>{{breakName player}}</h5>
      <p>{{team}}</p>
      <p class="advanced"><span class="score-label">Advanced z-score: </span>{{roundScore total_adv_zscore}}</p>
      <p class="traditional"><span class="score-label">Traditional z-score: </span>{{roundScore total_stand_zscore}}</p>
      <div class="z-scores">
        <div class="z-score z-score__trad traditional z-score-ppg"></div>
        <div class="z-score z-score__trad traditional z-score-rpg"></div>
        <div class="z-score z-score__trad traditional z-score-apg"></div>
        <div class="z-score z-score__trad traditional z-score-spg"></div>
        <div class="z-score z-score__trad traditional z-score-bpg"></div>
        <div class="z-score z-score__adv advanced z-score-mpg"></div>
        <div class="z-score z-score__adv advanced z-score-winshare"></div>
        <div class="z-score z-score__adv advanced z-score-bpm"></div>
        <div class="z-score z-score__adv advanced z-score-usg"></div>
        <div class="z-score z-score__adv advanced z-score-per"></div>
      </div>
    </div>
  </script>

  {% endraw %}
{%endblock%}


{%block ad%}
<script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>
<script type="text/javascript">
DFP_networkId = "11222444";
var DFPSlotSizes = window.isMobile ? [[320,50]] : [[728,90],[970,30]];
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
var pbjs = pbjs || {};
pbjs.que = pbjs.que || [];
pbjs.que.push(function() {
  var pageAds = { //   adUnitID: "position"
              dfpAdPositionTop: "Top",
              dfpAdPositionMiddle: "Top2",
              dfpAdPositionBottom: "Top2"
  };

  for(i in pageAds){
      var bidSlot = new Object();
      bidSlot.code = i;
      bidSlot.sizes = DFPSlotSizes;
      bidSlot.bids = window.isMobile ? window.mobileBids[pageAds[i]] : window.desktopBids[pageAds[i]];
      if(typeof bidSlot.bids != "undefined"){
          if(typeof pbjs.addAdUnits != "undefined"){
              pbjs.addAdUnits(bidSlot);
          }
          window.bidSlots[i] = bidSlot;
      }
  }
});
googletag.cmd.push(function () {
  var DFP_sitepage = "DMN/interactives";
  var dfpSizeMapping = googletag.sizeMapping().
          addSize([992, 480], [[728,90],[970,30]]).
          addSize([0, 0], [[320,50]]).
          build();


  var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top")
                  .addService(googletag.pubads());

  /*
  var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());
  */

  /*
  var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom")
                  .defineSizeMapping(dfpSizeMapping)
                  .setTargeting("position", "Top2")
                  .addService(googletag.pubads());
  */

  googletag.pubads().enableAsyncRendering();
  googletag.pubads().enableSingleRequest();
  googletag.enableServices();

});
</script>
{%endblock%}


{%block content%}
<section id="content-header">
	<img src="images/_defaultImage.jpg" alt="#" />
	<p class="cutline">Cutline goes here. You can remove this tag if you don't feel the lead image needs a cutline</p>
</section>
<!-- end contentHeader -->

<section class="content-well clearfix">

	<header id="story-head">
		<h3>NBA Rookie of the Year</h3>
    <h2>What are Mavericks rookie Luka Doncic’s chances of taking home the Rookie of the Year award? By our math: </h2>
		<h1 id="luka-answer"></h1>

	</header>
		<!-- end storyHead -->

    <div class="byline-block">
        <p>By <a target="_blank" href="mailto:emailaddresshere">John Hancock</a> | Editor, Data and Interactives</p>
        <p>Published Month Date, Year</p>
        <!-- <p>Updated Month, Date, Year</p> -->
    </div>
    <!-- end bylineBlock -->

	<div class="shareComments shareCommentsTop">
		<ul id="share-bar1"></ul>
	</div>
	<!-- end shareComments -->

    <p>When it comes to Luka Doncic, there was never a doubt for the Dallas Mavericks.</p>
    <p>The Mavericks front office had done years of research and scouting on the Slovenian teenager before shipping Trae Young and a protected first round pick in 2019 to Atlanta for Doncic in a <a href="https://sportsday.dallasnews.com/dallas-mavericks/mavericks/2018/06/29/mavericks-hawks-agree-deal-send-luka-doncic-dallas">draft-night trade</a>.</p>
    <p>Team owner Cuban said getting Doncic in the draft was a <a href="https://sportsday.dallasnews.com/dallas-mavericks/mavericks/2018/12/15/no-brainer-luka-doncic-won-entire-mavericks-organization-long-before-drafted">"no-brainer,"</a> and ESPN analyst Mike Schmidt said Doncic was <a href="https://sportsday.dallasnews.com/dallas-mavericks/mavericks/2018/07/27/espn-analyst-mike-schmitz-says-mavs-got-nba-drafts-best-basketball-player-luka-doncic">"the best basketball player in the draft."</a></p>
    <p>The talk is not all bluster either. Doncic's success is quickly justifying the team's enthusiasim and putting him squarely in the conversation for rookie of the year.</p>
    <p>We rated this season's rookie class in a variety of statistics to determine Doncic's chances at taking home the award, along with who might be his competition.</p>
    <p>Our metric takes into account not just where each player ranks in a given stat, but how much better — or worse — that player is than the average rookie in the class. Those ratings are then added together to create two scores, one for traditional stats, such as points, rebounds and assists per game, and one for advanced stats, such as winshares, usage percentage and player efficiency rating.</p>
    <p>The result: Doncic and Phoenix's Deandre Ayton are the clear favorites for the award, followed closely by Memphis' Jaren Jackson.</p>
    <p>See how Doncic stacks up to the rest of the competition below using either of our two scoring systems: </p>

    <div id="metric__flipper" class="clearfix">
      <button class="int-btn active-button">Traditional</button>
      <button class="int-btn">Advanced</button>
    </div>

    <div id="player__ranks" class="chart">
      <h5>Where Doncic ranks among rookies</h5>
      <p class="chatter">Luka Doncic’s <span class="traditional">traditional </span> <span class="advanced">advanced</span> metric score of <span id="rank__total-score">XX.X</span> ranks <span id="rank__rank">XXXXXX</span> among all other qualified rookies.</p>
      <div class="chart__container"></div>
    </div>

      <p class="traditional">In terms of traditional statistics, Doncic has the best chance at taking home the best rookie award. He leads the class in scoring at <span class="smart-text__ppg" data-player="Luka Doncic"></span> points per game and fills a box score with <span class="smart-text__rbg"></span> rebounds, <span class="smart-text__apg"></span> assists and <span class="smart-text__spg"></span> steals per game and is the best player on a potential playoff team that finished in the bottom five last year.</p>
      <p class="traditional">Doncic’s competition for the award can’t quite say the same. While Ayton is putting up numbers in points (<span class="smart-text__ppg" data-player="Deandre Ayton"></span>) and rebounds (<span class="smart-text__rbg" data-player="Deandre Ayton"></span>), the Suns are clearly in the tank. Meanwhile, Jackson plays for a winning team and is one of the better defensive players among the class, but his scoring (<span class="smart-text__ppg" data-player="Jaren Jackson"></span>) and rebounding (<span class="smart-text__rbg" data-player="Jaren Jackson"></span>) are not eye-opening.</p>

    <div id="player__mods"></div>

    {%include "adblock1.html" %}

    <!--
      use the above include with adblock2.html and adblock3.html to place adblocks 2 and 3, then delete this comment.
      it won't self-destruct, but it is cleaner
    -->
    <p class="subhead">History is on Doncic’s side</p>
    <p>Of the last ten players to win rookie of the year, seven finished first in either or both of our traditional or advanced ranking system, and all finished in the top five in both. Only Derrick Rose (2008-09), Andrew Wiggins (2014-15) and Malcolm Brogdon (2016-17) didn’t top their rookie classes in at least one of the two rankings.</p>
    <p>Doncic ticks that box though. The Mavericks rookie currently leads in the traditional statistical rankings and is third in the advanced rankings. And while rating in the top five against peers in our metric doesn’t guarantee taking home the rookie of the year award, Doncic’s statistical successes positions him prominently in the debate.</p>
    <p>If the past ten seasons are any indication, Doncic is positioned well to win rookie of the year this season. But so are Ayton and Jackson, who both also rank in the top five in both.</p>

    <div id="past-roty">
      <div class="past-player">
        <p class="label">2008-09</p>
        <h6>Derrick Rose</h6>
        <table>
          <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
          <tr><td>Trad.</td><td>3rd</td><td>-0.77</td></tr>
          <tr><td>Adv.</td><td>5th</td><td>-1.09</td></tr>
        </table>
      </div>
      <div class="past-player">
        <p class="label">2009-10</p>
        <h6>Tyreke Evans</h6>
        <table>
          <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
          <tr><td>Trad.</td><td class="rank_one">1st</td><td>0.62</td></tr>
          <tr><td>Adv.</td><td class="rank_one">1st</td><td>2.34</td></tr>
        </table>
      </div>
      <div class="past-player">
        <p class="label">2010-11</p>
        <h6>Blake Griffin</h6>
        <table>
          <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
          <tr><td>Trad.</td><td class="rank_one">1st</td><td>4.67</td></tr>
          <tr><td>Adv.</td><td class="rank_one">1st</td><td>5.16</td></tr>
        </table>
      </div>
      <div class="past-player">
        <p class="label">2011-12</p>
        <h6>Kyrie Irving</h6>
        <table>
          <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
          <tr><td>Trad.</td><td class="rank_one">1st</td><td>3.39</td></tr>
          <tr><td>Adv.</td><td class="rank_one">1st</td><td>3.49</td></tr>
        </table>
      </div>
      <div class="past-player">
        <p class="label">2012-13</p>
        <h6>Damian Lillard</h6>
        <table>
          <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
          <tr><td>Trad.</td><td class="rank_one">1st</td><td>2.37</td></tr>
          <tr><td>Adv.</td><td class="rank_one">1st</td><td>5.79</td></tr>
        </table>
      </div>
      <div class="past-player">
        <p class="label">2013-14</p>
        <h6>Michael Carter-Williams</h6>
        <table>
          <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
          <tr><td>Trad.</td><td class="rank_one">1st</td><td>4.67</td></tr>
          <tr><td>Adv.</td><td>3rd</td><td>-3.93</td></tr>
        </table>
      </div>
      <div class="past-player">
        <p class="label">2014-15</p>
        <h6>Andrew Wiggins</h6>
        <table>
          <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
          <tr><td>Trad.</td><td>3rd</td><td>-3.78</td></tr>
          <tr><td>Adv.</td><td>5th</td><td>-5.51</td></tr>
        </table>
      </div>
      <div class="past-player">
        <p class="label">2015-16</p>
        <h6>Karl-Anthony Towns</h6>
        <table>
          <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
          <tr><td>Trad.</td><td class="rank_one">1st</td><td>2.6</td></tr>
          <tr><td>Adv.</td><td class="rank_one">1st</td><td>1.32</td></tr>
        </table>
      </div>
      <div class="past-player">
        <p class="label">2016-17</p>
        <h6>Malcolm Brogdon</h6>
        <table>
          <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
          <tr><td>Trad.</td><td>2nd</td><td>-0.34</td></tr>
          <tr><td>Adv.</td><td>2nd</td><td>-1.54</td></tr>
        </table>
      </div>
      <div class="past-player">
        <p class="label">2017-18</p>
        <h6>Ben Simmons</h6>
        <table>
          <tr><th>Stats</th><th>Rank</th><th>+/-</th></tr>
          <tr><td>Trad.</td><td class="rank_one">1st</td><td>6.46</td></tr>
          <tr><td>Adv.</td><td class="rank_one">1st</td><td>2.77</td></tr>
        </table>
      </div>


    </div>

    <p class="subhead">Best in a decade?</p>
    <p>The last 10 years have seen some prolific rookie campaigns, especially when it comes to the easy-on-the-eyes statistic of scoring. Doncic, who leads all rookies this season in points per game, ranks ninth among all rookies since 2008-09.</p>
    <p>Going deeper, when we judge that pool of players using our metrics for traditional and advanced stats, Doncic still holds his own. </p>
    <p>Rookie of the Year winners Kyrie Irving, Ben Simmons, Blake Griffin and Karl-Anthony Towns clearly outperform the group, but Doncic, Ayton and Jackson are having rookie seasons that put them among a second tier of players just below that upper echelon.</p>
    <p>Doncic ranks 12th among the 235 qualifying players using our advanced metric, and 10th using our traditional. Ayton ranks ninth in both lists, while Jackson sits at eight and 17th. No other class has three players in the top 20 of each metric.</p>

    <div id="all-roty">
      <div id="all-roty__graphic" class="inline-block">

      </div>
    </div>

    <p class="twitter-tag">Follow writer name on Twitter at <a href="urlhere">@twittertag.</a></p>


    <section class="credits clearfix">
        <p>Author: <a href="mailto:emailaddress">Name</a></p>
        <p>Editor: <a href="mailto:emailaddress">Name</a></p>
        <p>Copy Editor: <a href="mailto:emailaddress">Name</a></p>
        <p>Photos: <a href="mailto:emailaddress">Name</a></p>
        <p>Graphics: <a href="mailto:emailaddress">Name</a></p>
        <p>Designer: <a href="mailto:emailaddress">Name</a></p>
    </section>
	<!-- end credits -->

	<section class="more clearfix">
		<h5>Read more from The Dallas Morning News</h5>
		<a class="clearfix" href="#">
			<img src="images/_defaultImage.jpg" alt="#" />
			<h6>Story title goes here</h6>
			<p>Description of the story goes in this spot here</p>
		</a>
		<a class="clearfix" href="#">
			<img src="images/_defaultImage.jpg" alt="#" />
			<h6>Story title goes here</h6>
			<p>Description of the story goes in this spot here</p>
		</a>
		<a class="clearfix" href="#">
			<img src="images/_defaultImage.jpg" alt="#" />
			<h6>Story title goes here</h6>
			<p>Description of the story goes in this spot here</p>
		</a>
	</section>
	<!-- end more -->


    <div class="shareComments">
        <div id="comments"></div>
	</div>
	<!-- end shareComments -->


</section>
<!-- end contentWell -->
{%endblock%}




{%block custom_foot%}
	<script type="text/javascript"></script>
{%endblock%}





{%block custom_social_meta%}
<script type="text/javascript">
  var storyTitle = "{{tweetText}}", // headline in tweet card
	storyURL = "{{url}}",
	leadText = "{{shareText}}", //description in tweet card
	storyIMG = "{{imgURL}}",
	storyAuthor = "{% for author in authors %}{{author}}{{', ' if not loop.last}}{% endfor %}",
	twitterTag = "{{sectionTwitter}}",
	comments = true,
	share = true;
	OAS_sitepage = 'www.dallasnews.com/{{desk}}/{{section}}/';
</script>
{%endblock%}
