  /*                       */
 /* Default style imports */
/*                       */

@import 'base';


// Should get Hancock to embed these in base, at some point:

@import 'header';
@import 'footer';

.players {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.player {
  img {
    width: 100%;
  }
}

.z-scores {
  width: 100%;
  div {
    height: 50px;
  }
}

.z-spine {
  stroke: $black235;
  stroke-width: 1;
}
  /*                         */
 /* Project-specific styles */
/*                         */

// Enter your custom styles here.
